.site-footer {
    border-bottom: 5px solid $grey-color-dark;
    border-top: 1px solid $grey-color-light;    
}

.social-media-list {
    list-style-type: none;    
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.site-nav {
    border-top: 5px solid $grey-color-dark;
    min-height: 42px;
}

.title {
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    line-height: 42px;
    letter-spacing: -1px;
    text-decoration: none;

    &,
    &:visited {
        color: $grey-color-dark;
    }
    
    @include media-query($on-palm) {
      font-size: 18px;
    }
}

.thing {

  .preview {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
  }
  .preview img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  padding-bottom: 20px;

  h2 {
    background-color: #CAE5FF;
    font-size: 18px;
    padding: 2px;
    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  ul {
    margin-left: 0px;
    a {
      color: $text-color;
      text-decoration: none;
    }
    li {
      background-color: #DCDCDC;
      display: inline;
      padding: 2px;
    }
  }
}
